.header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  /* border: solid 1px #6a6a66; */
  padding: 0.6rem 0;
}
.header-text {
  font-size: 3rem;
  color: #6a6a66;
  margin: 0;
}
