.card {
  background-color: #a5a5a4;
  color: #6a6a66;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.5rem;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  user-select: none;
  margin-top: 0.4rem;
}
.card.expanded {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 18px;
}

.main-details {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0;
}
.name-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* gap: 1rem; */
}
.extra-details-dob {
  font-size: 1rem;
}

.name-text {
  margin: 0;
  font-size: 1.5rem;
}
.email-text {
  margin: 0;
  font-size: 1.2rem;
}
.extra-details-container {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
  font-size: 1rem;
  padding-left: 2rem;
}
.extra-details {
  display: flex;
  align-items: start;
  flex-direction: column;

  margin: 0;
  font-size: 1.5rem;
}
.extra-details-text {
  margin: 0;
  font-size: 1rem;
}
.extra-details-text-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0 2.1rem;
}
.extra-details-icon-container {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 1rem;
  padding: 0 2.1rem;
}
.card:hover {
  color: #7a7a77;
}
.card:active {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.participant-icon:hover {
  fill: #7a7a77;
}
